@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.carousel .thumbs-wrapper {
  text-align: center;
  width: 100%;
  margin: auto;
}

.carousel .thumbs-wrapper .thumbs .thumb img {
  width: 100%;
  height: 70px;
  /* background-size: cover; */
  object-fit: cover;
}

.carousel .thumbs-wrapper .thumbs {
  /* width: 100%; */
  display: flex;
  /* gap: .25rem */
}

.carousel .thumbs-wrapper .thumbs .thumb {
  flex-grow: 1;
  margin-right: 0;
}

/* swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal */

/* swiper swiper-initialized swiper-horizontal swiper-backface-hidden mySwiper */

.swiper {
  padding-bottom: 2rem;
}

/* .swiper-pagination-bullets {
  bottom: 0;
} */

/* .swiper-container {
  width: 100%;
  max-width: 940px;
  height: 500px;
  margin: 0 auto;
} */