@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}


/* react-responsive-carousel */
.carousel .thumbs-wrapper {
  text-align: center;
  width: 100%;
  margin: auto;
}

.carousel .thumbs-wrapper .thumbs .thumb img {
  width: 100%;
  height: 70px;
  object-fit: cover;
}

.carousel .thumbs-wrapper .thumbs {
  display: flex;
}

.carousel .thumbs-wrapper .thumbs .thumb {
  flex-grow: 1;
  margin-right: 0;
}


/* react-tab */
.react-tabs__tab-list {
  border: 0;
}

.react-tabs__tab {
  margin: 0;
  background: #fff;
  color: #3b82f6;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  border: 2px solid #3b82f6;
  border-bottom: 2px solid #3b82f6;
  transition: all .3s ease-in-out;
}

.react-tabs__tab--selected {
  background: #3b82f6;
  color: #fff;
  border-radius: 0;
}

.react-tabs__tab ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* .timeline-vertical { */

/* --timeline-col-start: minmax(0, auto); */
/* --col-start: minmax(0, auto);
  grid-column: var(--col-start); */
/* --timeline-col-start: minmax(0, auto);
  grid-column: var(--timeline-col-start);
} */

.timeline-vertical:where(.timeline-snap-icon)>li {
  --timeline-col-start: 1;
  --timeline-row-start: 0.5rem;
  grid-column: var(--timeline-col-start);
}